<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DevConfig.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="TcpHost" serializeAs="String">
                <value>10.0.0.112</value>
            </setting>
            <setting name="TcpPort" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="Communication" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nastavení" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="BLPath" serializeAs="String">
                <value />
            </setting>
        </DevConfig.Properties.Settings>
    </userSettings>
</configuration>